.container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px); /*Makes a blurry effect*/
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.navlist {
  display: flex;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
  transition: all 0.55s ease;
}

@media (max-width: 1535px) {
  .container {
    padding: 15px 3%;
    transition: 0.2s;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  
  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    height: 100dvh;
    background-color: var(--blur-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }
  
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }

  .navlist.active {
    right: 0;
  }
}
